
<div>
  <ul class="nav">
    <li class="book span4" ng-repeat="book in bookArray">
      <div class="thumbnail">
        <img ng-src="/images/books/{{ book.img }}" alt="Cover">
        <p><strong>{{ book.title }}</strong><br>
        by {{ book.author }}</p>
        <p>
          <strong>Completed: </strong>
          <a class="linkCompleted" ng-click="toggleStatus($index)" class="togglestatus">
            <span ng-hide="!book.completed">Yes</span>
            <span ng-hide="book.completed">No</span>
          </a>
        </p>
        <a href="#" ng-click="removeBook($index)" class="destroy">Remove from library</a>
      </div>
    </li>
  </ul>
</div>

<div class="clear">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#/">All Books</a>
    </li>
    <li><a href="#/reading">Reading</a></li>
    <li><a href="#/completed">Completed</a></li>
  </ul>
</div>